@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel
<div class="text-center">
    @if (Model.TeamName == null)
    {
        <h1 class="display-4">List of Bowler Contact Info</h1>

    }
    else
    {
        <h1 class="display-4">@Model.TeamName</h1>
    }
</div>
<div class="container">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Bowlers)
            {
                <tr>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
    <div page-info="@Model.PageNumberingInfo" page-url-teamName="@Model.TeamName"
         page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-secondary" page-class-selected="btn-dark text-light" class="btn-group pull-right m-1" >

    </div>
</div>
